<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Animations/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{711, 485}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{597, 245}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/100.png</key>
		<dict>
			<key>frame</key>
			<string>{{1369, 121}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 56}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{1925, 87}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 66}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{1685, 173}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 66}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{1565, 177}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 66}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{1805, 173}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 66}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/105.png</key>
		<dict>
			<key>frame</key>
			<string>{{1685, 1}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 66}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/106.png</key>
		<dict>
			<key>frame</key>
			<string>{{1925, 1}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 66}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/107.png</key>
		<dict>
			<key>frame</key>
			<string>{{1685, 87}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 66}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/108.png</key>
		<dict>
			<key>frame</key>
			<string>{{1565, 91}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 66}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/109.png</key>
		<dict>
			<key>frame</key>
			<string>{{1805, 87}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 66}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{943, 361}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/110.png</key>
		<dict>
			<key>frame</key>
			<string>{{1805, 1}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 66}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/111.png</key>
		<dict>
			<key>frame</key>
			<string>{{355, 911}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/112.png</key>
		<dict>
			<key>frame</key>
			<string>{{945, 1}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/113.png</key>
		<dict>
			<key>frame</key>
			<string>{{945, 241}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/114.png</key>
		<dict>
			<key>frame</key>
			<string>{{1051, 241}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/115.png</key>
		<dict>
			<key>frame</key>
			<string>{{1059, 481}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/116.png</key>
		<dict>
			<key>frame</key>
			<string>{{831, 845}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/117.png</key>
		<dict>
			<key>frame</key>
			<string>{{827, 361}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/118.png</key>
		<dict>
			<key>frame</key>
			<string>{{827, 601}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/119.png</key>
		<dict>
			<key>frame</key>
			<string>{{829, 1}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{711, 605}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/120.png</key>
		<dict>
			<key>frame</key>
			<string>{{713, 1}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/13.png</key>
		<dict>
			<key>frame</key>
			<string>{{591, 787}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/14.png</key>
		<dict>
			<key>frame</key>
			<string>{{939, 721}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/15.png</key>
		<dict>
			<key>frame</key>
			<string>{{707, 747}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/16.png</key>
		<dict>
			<key>frame</key>
			<string>{{1275, 841}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/17.png</key>
		<dict>
			<key>frame</key>
			<string>{{1161, 721}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/18.png</key>
		<dict>
			<key>frame</key>
			<string>{{1055, 721}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/19.png</key>
		<dict>
			<key>frame</key>
			<string>{{1165, 601}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{943, 481}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/20.png</key>
		<dict>
			<key>frame</key>
			<string>{{1263, 1}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/21.png</key>
		<dict>
			<key>frame</key>
			<string>{{713, 121}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/22.png</key>
		<dict>
			<key>frame</key>
			<string>{{595, 387}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/23.png</key>
		<dict>
			<key>frame</key>
			<string>{{829, 121}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/24.png</key>
		<dict>
			<key>frame</key>
			<string>{{711, 365}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/25.png</key>
		<dict>
			<key>frame</key>
			<string>{{475, 907}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/26.png</key>
		<dict>
			<key>frame</key>
			<string>{{1157, 241}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/27.png</key>
		<dict>
			<key>frame</key>
			<string>{{945, 121}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/28.png</key>
		<dict>
			<key>frame</key>
			<string>{{1267, 721}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/29.png</key>
		<dict>
			<key>frame</key>
			<string>{{1059, 601}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{595, 507}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/30.png</key>
		<dict>
			<key>frame</key>
			<string>{{1157, 121}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/31.png</key>
		<dict>
			<key>frame</key>
			<string>{{595, 627}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/32.png</key>
		<dict>
			<key>frame</key>
			<string>{{943, 601}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/33.png</key>
		<dict>
			<key>frame</key>
			<string>{{823, 725}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/34.png</key>
		<dict>
			<key>frame</key>
			<string>{{595, 907}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/35.png</key>
		<dict>
			<key>frame</key>
			<string>{{947, 841}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/36.png</key>
		<dict>
			<key>frame</key>
			<string>{{1051, 1}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/37.png</key>
		<dict>
			<key>frame</key>
			<string>{{1263, 121}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/38.png</key>
		<dict>
			<key>frame</key>
			<string>{{1169, 841}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/39.png</key>
		<dict>
			<key>frame</key>
			<string>{{1063, 841}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{827, 481}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/40.png</key>
		<dict>
			<key>frame</key>
			<string>{{1051, 121}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/41.png</key>
		<dict>
			<key>frame</key>
			<string>{{1467, 721}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 58}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/42.png</key>
		<dict>
			<key>frame</key>
			<string>{{1369, 1}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 58}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/43.png</key>
		<dict>
			<key>frame</key>
			<string>{{1271, 601}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 58}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/44.png</key>
		<dict>
			<key>frame</key>
			<string>{{1459, 481}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 58}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/45.png</key>
		<dict>
			<key>frame</key>
			<string>{{1365, 601}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 58}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/46.png</key>
		<dict>
			<key>frame</key>
			<string>{{1475, 841}, {118, 88}}</string>
			<key>offset</key>
			<string>{0, -31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 62}, {118, 88}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/47.png</key>
		<dict>
			<key>frame</key>
			<string>{{1463, 241}, {118, 88}}</string>
			<key>offset</key>
			<string>{0, -31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 62}, {118, 88}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/48.png</key>
		<dict>
			<key>frame</key>
			<string>{{1463, 121}, {118, 88}}</string>
			<key>offset</key>
			<string>{0, -31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 62}, {118, 88}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/49.png</key>
		<dict>
			<key>frame</key>
			<string>{{1565, 1}, {118, 88}}</string>
			<key>offset</key>
			<string>{0, -31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 62}, {118, 88}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{475, 787}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/50.png</key>
		<dict>
			<key>frame</key>
			<string>{{1463, 1}, {118, 88}}</string>
			<key>offset</key>
			<string>{0, -31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 62}, {118, 88}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/51.png</key>
		<dict>
			<key>frame</key>
			<string>{{1369, 241}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 58}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/52.png</key>
		<dict>
			<key>frame</key>
			<string>{{1365, 361}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 58}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/53.png</key>
		<dict>
			<key>frame</key>
			<string>{{1459, 601}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 58}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/54.png</key>
		<dict>
			<key>frame</key>
			<string>{{1373, 721}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 58}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/55.png</key>
		<dict>
			<key>frame</key>
			<string>{{1271, 361}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 58}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/56.png</key>
		<dict>
			<key>frame</key>
			<string>{{1165, 481}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/57.png</key>
		<dict>
			<key>frame</key>
			<string>{{1059, 361}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/58.png</key>
		<dict>
			<key>frame</key>
			<string>{{1263, 241}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/59.png</key>
		<dict>
			<key>frame</key>
			<string>{{1157, 1}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{715, 867}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/60.png</key>
		<dict>
			<key>frame</key>
			<string>{{1165, 361}, {118, 104}}</string>
			<key>offset</key>
			<string>{0, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 46}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/61.png</key>
		<dict>
			<key>frame</key>
			<string>{{355, 787}, {122, 118}}</string>
			<key>offset</key>
			<string>{-2, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 32}, {122, 118}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/62.png</key>
		<dict>
			<key>frame</key>
			<string>{{475, 663}, {122, 118}}</string>
			<key>offset</key>
			<string>{-2, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 32}, {122, 118}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/63.png</key>
		<dict>
			<key>frame</key>
			<string>{{477, 139}, {122, 118}}</string>
			<key>offset</key>
			<string>{-2, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 32}, {122, 118}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/64.png</key>
		<dict>
			<key>frame</key>
			<string>{{355, 539}, {122, 118}}</string>
			<key>offset</key>
			<string>{-2, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 32}, {122, 118}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/65.png</key>
		<dict>
			<key>frame</key>
			<string>{{477, 263}, {122, 118}}</string>
			<key>offset</key>
			<string>{-2, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 32}, {122, 118}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/66.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 1}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 28}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/67.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 143}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 28}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/68.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 427}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 28}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/69.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 569}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 28}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{829, 241}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/70.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 853}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 28}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/71.png</key>
		<dict>
			<key>frame</key>
			<string>{{349, 1}, {136, 120}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {136, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/72.png</key>
		<dict>
			<key>frame</key>
			<string>{{355, 139}, {136, 120}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {136, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/73.png</key>
		<dict>
			<key>frame</key>
			<string>{{233, 557}, {136, 120}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {136, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/74.png</key>
		<dict>
			<key>frame</key>
			<string>{{355, 277}, {136, 120}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {136, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/75.png</key>
		<dict>
			<key>frame</key>
			<string>{{233, 833}, {136, 120}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {136, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/76.png</key>
		<dict>
			<key>frame</key>
			<string>{{233, 281}, {136, 120}}</string>
			<key>offset</key>
			<string>{-1, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 12}, {136, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/77.png</key>
		<dict>
			<key>frame</key>
			<string>{{471, 1}, {136, 120}}</string>
			<key>offset</key>
			<string>{-1, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 12}, {136, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/78.png</key>
		<dict>
			<key>frame</key>
			<string>{{233, 695}, {136, 120}}</string>
			<key>offset</key>
			<string>{-1, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 12}, {136, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/79.png</key>
		<dict>
			<key>frame</key>
			<string>{{233, 143}, {136, 120}}</string>
			<key>offset</key>
			<string>{-1, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 12}, {136, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{597, 125}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/80.png</key>
		<dict>
			<key>frame</key>
			<string>{{233, 419}, {136, 120}}</string>
			<key>offset</key>
			<string>{-1, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 12}, {136, 120}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/81.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 711}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/82.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 711}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/83.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/84.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 285}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/85.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 427}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 16}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/86.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 853}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 24}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/87.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 143}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 24}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/88.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 285}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 24}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/89.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 569}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 24}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{713, 241}, {118, 114}}</string>
			<key>offset</key>
			<string>{0, -18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 36}, {118, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/90.png</key>
		<dict>
			<key>frame</key>
			<string>{{233, 1}, {140, 114}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 24}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/91.png</key>
		<dict>
			<key>frame</key>
			<string>{{475, 415}, {122, 118}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 30}, {122, 118}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/92.png</key>
		<dict>
			<key>frame</key>
			<string>{{355, 415}, {122, 118}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 30}, {122, 118}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/93.png</key>
		<dict>
			<key>frame</key>
			<string>{{593, 1}, {122, 118}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 30}, {122, 118}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/94.png</key>
		<dict>
			<key>frame</key>
			<string>{{355, 663}, {122, 118}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 30}, {122, 118}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/95.png</key>
		<dict>
			<key>frame</key>
			<string>{{475, 539}, {122, 118}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 30}, {122, 118}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/96.png</key>
		<dict>
			<key>frame</key>
			<string>{{1381, 841}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 56}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/97.png</key>
		<dict>
			<key>frame</key>
			<string>{{1271, 481}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 56}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/98.png</key>
		<dict>
			<key>frame</key>
			<string>{{1459, 361}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 56}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>Animations/99.png</key>
		<dict>
			<key>frame</key>
			<string>{{1365, 481}, {118, 92}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 56}, {118, 92}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>textureFileName</key>
		<string>Animations.png</string>
	</dict>
</dict>
</plist>
